// Your variable overrides
$primary: #ff7200;
@import "../../node_modules/bootstrap/scss/bootstrap";
// Overwrite BigCalendar styles
$cell-height: 100px;
$defaultBorderRadius: 0.25rem;
.rbc {
  &-toolbar {
    margin-bottom: 1rem;
    @extend .align-items-center;
    @extend .row;
    & > * {
      @extend .col-12;
      @extend .col-lg;
      @extend .justify-content-center; // Align today, back end next buttons to left
      &:first-child {
        @extend .d-flex;
        @extend .justify-content-lg-start;
      } // Align date label to center
      &:nth-child(2) {
        @extend .d-flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
      } // Align scope control to end
      &:last-child {
        @extend .d-flex;
        @extend .justify-content-lg-end;
      }
    }
    &-label {
      white-space: nowrap;
      font-weight: bold;
    }
  }
  &-agenda {
    &-view {
      overflow-x: auto;
    }
    &-table {
      @extend .table;
      @extend .table-hover;
      & .rbc-agenda-date-cell {
        white-space: nowrap;
      }
    }
  }
  &-date-cell,
  &-time-gutter > &-timeslot-group {
    height: $cell-height;
    border: 1px solid lighten($secondary, 30);
    border-right: 0 solid;
    &:last-child {
      border-top-right-radius: $defaultBorderRadius;
      border-bottom-right-radius: $defaultBorderRadius;
      border-right: 1px solid lighten($secondary, 30);
    }
    &:first-child {
      border-top-left-radius: $defaultBorderRadius;
      border-bottom-left-radius: $defaultBorderRadius;
    }
  }
  &-current {
    border: 1px solid;
    border-color: $primary;
  }
  &-btn-group {
    @extend .btn-group;
    & button {
      @extend .btn;
      @extend .btn-outline-primary;
    }
    & button.rbc-active {
      @extend .btn-primary;
    }
  }
  &-header,
  &-row-content,
  &-date-cell {
    @extend .col;
  }
  &-header {
    text-align: center;
    font-weight: bold;
  }
  &-row,
  &-month-row {
    @extend .row;
  }
  &-month {
    &-view {
      padding-left: 1rem;
      overflow-x: auto;
    }
  }
  &-event {
    @extend .btn;
    white-space: normal;
  }
}

// Make card columns responsive
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(lg) {
    column-count: 1;
  }
  @include media-breakpoint-only(xl) {
    column-count: 1; // Should be one, but we don't have enough space!
  }
}
